PORT=3001
NODE_ENV=development
SESSION_SECRET=remplace-moi-par-une-valeur-longue-et-secrete

APP_URL=http://localhost:5173

# Exemple:
# COGNITO_ISSUER=https://cognito-idp.ca-central-1.amazonaws.com/ca-central-1_XXXXXXXXX
COGNITO_ISSUER=

COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=

COGNITO_REDIRECT_URI=http://localhost:3001/callback

# Exemple:
# COGNITO_DOMAIN=https://ton-domaine.auth.ca-central-1.amazoncognito.com
COGNITO_DOMAIN=

COGNITO_LOGOUT_URI=http://localhost:5173
